@import "tailwindcss";

:root {
  --background: #fbf9f3;
  --foreground: #2B1D12;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-wax: #f5eddd;
  --color-comb: #110c09;
  --color-honey: #C98A2C;
  --color-test: #F4EFE6;

  --font-display: var(--font-quicksand);
  --font-body: var(--font-source-sans-3);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body),Arial, sans-serif;
}
